.post-category-sicherheit {
    background: red;
}
.post-category-tools {
    background: orange;
}
.post-category-privat {
    background: green;
}
.post-category-raspberry-pi {
    background: #c7254e;
}
.post-category-linux {
    background: #5E79B6;
}
.post-category-programmieren {
    background: blue;
}
