_site/*
_theme_packages/*
dist/*
resources/_gen

*~

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
Gemfile.lock

source/js/mathjax/*
source/assets/themes/hooligan/fonts/*
*.swp
node_modules/

public
static/js/mathjax
