<!-- Social Share Button HTML -->

<!-- Twitter -->
<li><a href="//twitter.com/share?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Social.twitter }}" target="_blank" class="s-btn twitter">
    <i class="fa twitter-fa"></i>
    <p>Twitter</p>
</a></li>

<!-- Google Plus -->
<li><a href="//plus.google.com/share?url={{ .Permalink }}" target="_blank" class="s-btn google-p">
    <i class="fa fa-google-p"></i>
    <p>Google+</p>
</a></li>

<!-- WhatsApp -->
<li><a href="whatsapp://send?text={{ .Permalink }}" target="_blank" class="s-btn whatsapp">
    <i class="fa fa-whatsapp"></i>
    <p>WhatsApp</p>
</a></li>

<!-- Reddit (url, title) -->
<li><a href="//reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" class="s-btn reddit">
    <i class="fa fa-reddit-alien"></i>
    <p>Reddit</p>
</a></li>

<!-- LinkedIn -->
<li><a href="//www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}" target="_blank" class="s-btn linkedin">
    <i class="fa fa-linked-in"></i>
    <p>LinkedIn</p>
</a></li>

<!-- StumbleUpon (url, title) -->
<li><a href="//www.stumbleupon.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" class="s-btn stumbleupon">
    <i class="fa fa-stumbleupon"></i>
    <p>StumbleUpon</p>
</a></li>

<!-- Email -->
<li><a href="mailto:?subject=Check out this post by {{ .Params.author }}&body={{ .Permalink }}" target="_blank" class="s-btn email">
    <i class="fa fa-envelope"></i>
    <p>Email</p>
</a></li>
